<!-- Footer -->
<!--
<footer class="sticky-footer bg-white">
  <div class="container my-auto">
    <div class="copyright text-center my-auto">
      <span>Copyright &copy; Tristone Flowtech Mexico 2019</span>
    </div>
  </div>
</footer>
-->

<!-- End of Footer -->

</div>

<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

<!-- Bootstrap core JavaScript-->
<script src="/resources/Jquery/JQuery.js"></script>
<script src="/resources/bootstrap4.3.1/js/bootstrap.bundle.min.js"></script>

<!-- Prueba mapa -->

<script src="/resources/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
<script src="/resources/jvectormap/jquery-jvectormap-world-mill-en.js"></script>


<!-- Custom scripts for all pages-->
<script src="/js/sb-admin-2.js"></script>
<script src="/resources/datatables/custom.js"></script>
<script type="text/javascript" src="/resources/datatables/jquery.dataTables.js"></script>
<script type="text/javascript" src="/resources/datatables/dataTables.bootstrap4.js"></script>
<script type="text/javascript" src="/resources/datatables/dataTables.buttons.js"></script>
<!-- <script type="text/javascript" src="/resources/datatables/buttons.bootstrap4.js"></script> -->

</body>

</html>